<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.autumn.blog.mapper.UserInfoMapper">


    <!-- 根据user_id 查询menu_id -->

    <select id="listPage" resultType="com.autumn.blog.model.vo.UserInfoVo">
        select *
        from user_info
        <where>
            flag = 0
            <if test="query.username != null and query.username != ''">
                AND user_info.username LIKE CONCAT(CONCAT('%', #{query.username}),'%')
            </if>
            <if test="query.nickname != null and query.nickname != ''">
                AND user_info.nickname LIKE CONCAT(CONCAT('%', #{query.nickname}),'%')
            </if>
            <if test="query.phone != null and query.phone != ''">
                AND user_info.phone LIKE CONCAT(CONCAT('%', #{query.phone}),'%')
            </if>
        </where>
        ORDER BY user_info.create_time ASC
    </select>
</mapper>